# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules (just in case they run npm commands)
node_modules/

# Agent/AI Configs
.agents/
.gemini/

# Testing
test/

# Documentation (Exclude all markdown files except README.md)
*.md
!README.md
